.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  background-color: #fdf0e1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
 
   border-bottom: none;
  box-shadow: none;
  
}

.logo img {
  width: 160px;
  height: auto;
  object-fit: contain;
}


.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #b37a59;
}


.cart-icon {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: black;
  margin-right: 10px;

}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #b37a59;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}
.cart-icon  :hover{
  color: #b37a59;
}